
body{
    background-color: #ffffff;
  }
  
img {
    display: block;
    height: 200px;
    width: 200px;

    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */

    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
  }